package ${basePackage}.module.${modulePackage}.domain.dto;

import ${basePackage}.common.domain.PageParamDTO;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
#foreach ($queryImport in $queryImports)
$queryImport
#end

/**
 * [ ${tableDesc} ]
 *
 * @author ${author}
 * @version 1.0
 * @company ${company}
 * @copyright (c) 2019 ${company}Inc. All rights reserved.
 * @date ${date}
 * @since JDK1.8
 */
@Data
public class ${moduleClass}QueryDTO extends PageParamDTO {

#foreach ($queryField in $queryFieldList)

#if($queryField.sqlOperate == 'in')
    @ApiModelProperty("${queryField.columnDesc}")
    private List<${queryField.fieldType}> ${queryField.fieldName}List;
#elseif($queryField.sqlOperate == 'time_equals')
    @ApiModelProperty("${queryField.columnDesc}")
    private String ${queryField.fieldName};
#elseif($queryField.sqlOperate == 'time_between')
    @ApiModelProperty("开始日期")
    private String startDate;

    @ApiModelProperty("结束日期")
    private String endDate;
#else
    @ApiModelProperty("${queryField.columnDesc}")
    private ${queryField.fieldType} ${queryField.fieldName};
#end

#end
}
