package ${basePackage}.module.${modulePackage}.domain.entity;

import com.baomidou.mybatisplus.annotation.TableName;
import ${basePackage}.common.domain.BaseEntity;
#foreach ($entityImport in $entityImports)
$entityImport
#end
import lombok.Data;

/**
 * [ ${tableDesc} ]
 *
 * @author ${author}
 * @version 1.0
 * @company ${company}
 * @copyright (c)  ${company}Inc. All rights reserved.
 * @date ${date}
 * @since JDK1.8
 */
@Data
@TableName("${tableName}")
public class ${moduleClass}Entity extends BaseEntity{
#foreach ($column in $columnList)

#if($column.columnName != 'id' && $column.fieldName != 'updateTime' && $column.fieldName != 'createTime')
    /**
     * $column.columnDesc
     */
    private $column.fieldType $column.fieldName;
#end
#end

}
