package ${basePackage}.module.${modulePackage}.domain.dto;

import lombok.Data;

/**
 * 更新 [ ${tableDesc} ]
 *
 * @author ${author}
 * @version 1.0
 * @company ${company}
 * @copyright (c) 2018 ${company}Inc. All rights reserved.
 * @date  ${date}
 * @since JDK1.8
 */
@Data
public class ${moduleClass}UpdateDTO extends ${moduleClass}AddDTO {

    private Long id;

}
