/**
 * ${basic.description} 枚举
 *
 * @Author:    ${basic.frontAuthor}
 * @Date:      ${basic.frontDate}
 * @Copyright  ${basic.copyright}
 */

#foreach ($enum in $enumList)

/**
 * $enum.columnComment
 */
export const $enum.upperUnderscoreEnum = {

}
#end

export default {
#foreach ($enum in $enumList)
    $enum.upperUnderscoreEnum,
#end
};