/*
 * SmartAdmin 独有的样式
 *
 * @Author:    1024创新实验室-主任：卓大
 * @Date:      2022-09-12 14:43:01
 * @Wechat:    zhuda1024
 * @Email:     lab1024@163.com
 * @Copyright  1024创新实验室 （ https://1024lab.net ），Since 2012
 */

.scroll-view {
  white-space: nowrap;
  width: 100%;
}

.scroll-view-item {
  display: inline-block;
  width: 570rpx;
  height: 128rpx;
  overflow: hidden;
  font-size: 36rpx;
  border-right: 1rpx solid #ededed;
  margin-right: 30rpx;
}

/**********************************  宽度 **********************************/
.smart-width-100 {
  width: 100%;
}

/**********************************  左间距 **********************************/
.smart-margin-left5 {
  margin-left: 5px;
}

.smart-margin-left10 {
  margin-left: 10px;
}

.smart-margin-left15 {
  margin-left: 15px;
}

.smart-margin-left20 {
  margin-left: 20px;
}

/**********************************  右间距 **********************************/
.smart-margin-right5 {
  margin-right: 5px;
}

.smart-margin-right10 {
  margin-right: 10px;
}

.smart-margin-right15 {
  margin-right: 15px;
}

.smart-margin-right20 {
  margin-right: 20px;
}

/******************************** 上间距 ********************************/
.smart-margin-top5 {
  margin-top: 5px;
}

.smart-margin-top10 {
  margin-top: 10px;
}

.smart-margin-top15 {
  margin-top: 15px;
}

.smart-margin-top20 {
  margin-top: 20px;
}

.smart-margin-top30 {
  margin-top: 30px;
}

.smart-margin-top40 {
  margin-top: 40px;
}

.smart-margin-top50 {
  margin-top: 50px;
}

.smart-margin-top60 {
  margin-top: 60px;
}


/******************************** 下间距 ********************************/
.smart-margin-bottom5 {
  margin-bottom: 5px;
}

.smart-margin-bottom10 {
  margin-bottom: 10px;
}

/******************************** 表单 ********************************/
.smart-form {
  height: auto;
  padding-bottom: 120px;

  :deep(.uni-forms-item__content) {
    display: flex;
    align-items: center;
  }

  :deep(.uni-forms-item__label) {
    font-size: 32rpx;
    color: #000000;
    padding-top: 28rpx;
  }

  :deep(.uni-forms-item) {
    margin-bottom: 0 !important;
  }

  :deep(.uni-slider-thumb) {
    background: #fff !important;
    border: 10rpx solid #1a9aff;
    box-sizing: border-box;
  }

  .smart-form-item {
    min-height: 100rpx;
    height: auto;
    align-items: center;
    &:last-child {
      border: none;
    }
  }

  .smart-form-group {
    box-sizing: border-box;
    width: 100wh;
    margin: 20rpx auto 0;
    background: #fff;
    border-radius: 16rpx;

    .smart-form-group-title {
      width: 100%;
      height: 84rpx;
      background-image: url('/static/images/list/form-list.png');
      background-size: 100% 84rpx;
      line-height: 84rpx;
      text-indent: 30rpx;
      font-size: 32rpx;
      color: #323333;
      font-weight: bold;
    }

    .smart-form-group-content {
      padding: 0 30rpx;
    }
    .input {
      font-size: 22rpx;
      text-align: right;
      width: 100%;
    }
  }

  .smart-form-submit {
    border-top: #eee 1px solid;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;

    .smart-form-submit-btn {
      margin: 10px;
      height: 2.5;
      flex: 1;
    }
  }

  .fixed-bottom-button {
    position: fixed;
    bottom: 0;
  }
}


/******************************** 详情 ********************************/

.smart-detail {
  .smart-detail-card {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    width: 94%;
    border-radius: 16rpx;
    box-sizing: border-box;
    padding: 16rpx 30rpx;

    .smart-detail-card-title {
      height: 70rpx;
      display: flex;
      align-items: center;
      font-size: $uni-font-size-lg;
      color: #323333;
      font-weight: bold;
      margin-bottom: 16rpx;
      &::before {
        content: '';
        height: 32rpx;
        width: 3px;
        border-radius: 4rpx;
        margin-right: 10rpx;
        background-color: $uni-color-primary;
      }
    }

    .smart-detail-card-cell {
      display: flex;
      min-height: 80rpx;
      padding: 10rpx 0;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      border-top: 1rpx solid #ededed;
      .smart-detail-card-label {
        color: #666666;
        font-size: $uni-font-size-lg;
      }
      .smart-detail-card-value {
        font-size: $uni-font-size-lg;
        padding: 20rpx 0;
      }
    }
  }
}








