<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.sprinklermanager.sprinkler.dao.SprinklerDao">
    <select id="queryPage"
            resultType="net.lab1024.sa.admin.module.business.sprinklermanager.sprinkler.domain.vo.SprinklerVO">
        SELECT t_sprinkler.*
        FROM t_sprinkler
        <where>
            deleted_flag = #{queryForm.deletedFlag}
            <if test="queryForm.keywords != null and queryForm.keywords != ''">
                AND (INSTR(enterprise_name,#{queryForm.keywords}) OR INSTR(contact,#{queryForm.keywords}) OR
                INSTR(contact_phone,#{queryForm.keywords}) OR INSTR(create_user_name,#{queryForm.keywords}))
            </if>
            <if test="queryForm.startTime != null">
                AND DATE_FORMAT(create_time, '%Y-%m-%d') &gt;= #{queryForm.startTime}
            </if>
            <if test="queryForm.endTime != null">
                AND DATE_FORMAT(create_time, '%Y-%m-%d') &lt;= #{queryForm.endTime}
            </if>
            <if test="queryForm.disabledFlag != null">
                AND disabled_flag = #{queryForm.disabledFlag}
            </if>
        </where>
        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            ORDER BY create_time DESC
        </if>
    </select>
    <select id="queryBySprinklerSerial"
            resultType="net.lab1024.sa.admin.module.business.sprinklermanager.sprinkler.domain.entity.SprinklerEntity">
            SELECT *
            FROM t_sprinkler
            WHERE sprinkler_serial = #{sprinklerSerial}
            AND deleted_flag = #{deletedFlag}
            <if test="excludeSprinklerId != null">
                AND sprinkler_id != #{excludeSprinklerId}
            </if>
    </select>
    <select id="getDetail"
            resultType="net.lab1024.sa.admin.module.business.sprinklermanager.sprinkler.domain.vo.SprinklerVO">
        SELECT s.*
        FROM t_sprinkler s
        WHERE s.sprinkler_id = #{sprinklerId} AND
              s.deleted_flag = #{deletedFlag}
    </select>

</mapper>